* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #dfcbda;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    min-height: 100vh;
}

.main-bar-top {
    padding: auto;
}

.main-title {
    background-image: url('../CSS/img/3dnote.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #000;
    opacity: 60%;
    text-align: center;
    font-size: 80px;
    font-family: 경기천년제목;
    margin: 5rem;

}

.menu {
    list-style: none;
    padding: 0.8rem;
    margin: auto;
}

.menu > li {
    display: inline-block;
}

a { 
    color: #000;
    text-decoration: none;
}