.board_title {
    color: #fff;
    background-color: #D1AAE8;
    border: solid 1px #000;
    border-radius: 10px 10px 0 0;
    height: 45px;
    width: 800px;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 13%;
    font-size: 25px;

}

.box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0 34px 30px 34px;
}

.box_title {
    font-size: 1.3rem;
    background-color: #D1AAE8;
    border: solid 1px #000;
    padding: 10px 50px;
}

.insert {
    padding: 10px 10px;

}

.box_content_title {
    text-align: center;
    font-size: 1.3rem;
    background-color: #D1AAE8;
    border: solid 1px #000;
    width: 150px;
    padding: 10px 40px;
    margin-left: 70px;
}

.box_content {
    background-color: #FFFBF1;
    border: solid 1px #000;
    margin: 0 70px 20px 70px;
    width: 660px;
    height: 350px;
}

.box_content > textarea {
    background-color: #FFFBF1;
    padding: 10px;
    width: 650px;
    height: 340px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    resize: none;
}

.board_footer {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #D1AAE8;
    border: solid 1px #000;
    padding: 10px 40px;
    margin: 0 20px;
    font-size: 1.3rem;
    box-shadow: 5px 5px 1px #7E796F;
}