/* 글자색 지정 */
.h2_color {
    /*색상명으로 지정합니다*/
    /* color: red; */
    
    /* 16진수로 색상 지정 */
    /* color: #ff0000; */

    /* rgb 방식으로 색상 지정*/
    /* color: rgb(255, 0, 0);

    /* RGBA 방식으로 색상 지정(a: 투명도, 0에 가까워질수록 투명해짐)*/
    /* color: rgb(255, 0, 0, 0.5);

    /* HSLA 방식으로 색상 지정*/
    color: hsl(0, 100%, 50%);
}
/* 선으로 텍스트를 꾸미는 속성 */ 
.td_none {
    text-decoration: none;
}
.td_underline {
    text-decoration: underline;
}
.td_through {
    text-decoration: line-through;
}

/* 글자의 정렬*/
.aline_left {
    text-align: left;
}
.aline_right {
    text-align: right;
}
.aline_center {
    text-align: center;
}
.center {
    background-color: darkgray;
    height : 100px;
    text-align: center;
    line-height: 100p;
}
/* 영어 대소문자 변환*/
.transform_C {
    /*text-transform: capitalize;*/
    text-transform: uppercase;
}
.transform_U {
    text-transform: lowercase;
}

/* 자간*/
.letter_spacing {
    letter-spacing: 10px;
}

/* 단어 간의 간격*/
.word_spacing {
    word-spacing: 20px;
}
/* 그림자 효과 */
/* 가로위치(+:오른쪽/-:왼쪽), 세로위치, 그림자 크기(숫자가 클수록 희미함), 색상 */
.shadow {
    text-shadow: 5px 5px 8px #ff0000;
}