.main-content {
    margin-top: 40px;
}
.box {
    color: #fff;
    font-weight: 900;
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 10px;
    font-size: 1.2rem;
    height: 50px;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B9A9FF;
    border-radius: 40px 0px 0px 40px;
}

.box-content {
    color: #000;
    background-color: #fff;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}