.board_title {
    color: #fff;
    background-color: #D1AAE8;
    border: solid 1px #000;
    border-radius: 10px 10px 0 0;
    height: 45px;
    width: 800px;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 13%;
    font-size: 25px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete_popup {
    width: 400px;
    height: 150px;
    background-color: #FFFBF1;
    margin: auto;
    text-align: center;
    border: solid 1px #000;
    box-shadow: 5px 5px 1px #7E796F;
    
}

.delete_popup > p{
    padding-top: 35px;
}

.delete > p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding: 4px;
}

.btn {
    background-color: #D1AAE8;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 20px;
    box-shadow: 5px 5px 1px #7E796F;
}

.delete {
    background-color: #D1AAE8;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 18%;
    border-bottom: solid 1px #000;
    width: 398px;
    height: 30px;
}
