@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DungGeunMo';
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 800px;
    height: 700px;
    background-color: #FCF2DD;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.folder {
    background-color: #FCF2DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.folder_icon {
    background-image: url('./../../img/close_folder.png');
    background-repeat: no-repeat;
    padding-top: 70%;
    background-size: contain;
    background-position: center;
    margin: 20px 20px 10px;

}

.folder_icon:hover {
    background-image: url('./../../img/open_folder.png');
    background-repeat: no-repeat;
    padding-top: 70%;
    background-size: contain;
    background-position: center;
    margin: 20px 20px 10px;
}

.menu_bar {
    background-color: #E38686;
    height: 50px;
    width: 800px;
    border: solid 1px #000;
}

p {
    text-align: center;
    font-size: 20px;

}

.home_btn {
    margin: 2px 10px;
}




